{% extends "tbsite/__base.html" %}

{% block title %}
Protoffer: you search we offer
{% endblock title %}


{% block content %}
<div class="container-fluid theme-showcase no-gutter" role="main">
    <div class="main_div">
        <div class="col-md-2 text-left no-gutter"> {# левый шарик #}
          <img src="/media/round1.jpg" class="img-responsive">
        </div>
        <div class="col-md-4 text-right center_menu"> {# лого #}
          <img src="/media/logo.png" class="img-responsive">
        </div>
        <div class="col-md-4 right_menu"> {# о пользователе #}
          <div class="row">
          <div class="col-md-3"><img src="/media/man_icon.png" class="img-responsive"></div>
          <div class="col-md-9 upper_small"><br>чтобы загрузить файл войдите<br>или зарегистрируйтесь</div>
          </div>
          <div class="row">
          <div class="col-md-12"><img src="/media/upload.png" class="img-responsive"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="no-gutter">
      <img src="/media/back_photo1.jpg" class="img-responsive">
    </div>
    <div class="pan_1 my_blue my_bgrey my_fbig no-gutter text-center">
      ПОЧЕМУ МЫ?
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 ext_padding">
      <div class="col-md-4 text-center side_padding">
        <img src="/media/pic1.png" class="center-block img-responsive"> 
      </div>
      <div class="col-md-4 text-center side_padding">
        <img src="/media/pic2.png" class="center-block img-responsive">          
      </div>
      <div class="col-md-4 text-center side_padding">
        <img src="/media/pic3.png" class="center-block img-responsive">          
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 text-center side_padding">
        <div class="hdr_1">инновации</div>         
        <p>самые новейшие модели в каждом из секторов, потому что мы хотим, чтобы вы получили самый лучший и самый технологичный продукт</p>
      </div>
      <div class="col-md-4 text-center side_padding">
        <div class="hdr_1">уникальность</div>         
        <p>до запуска нашего продукта мы изучили рынок нашего сектора, чтобы убедиться, что аналогов на данный момент не существует. protoffer - уникальный сервис</p>
      </div>
      <div class="col-md-4 text-center side_padding">
        <div class="hdr_1">мы ценим время</div>         
        <p>мы работаем с вами в одном секторе и знаем, что время - деньги. наша система замеит бесконечный ручной подбор оборудования. теперь это 5 секунд</p>
      </div>
   </div>
    <div class="no-gutter">
      <img src="/media/back_photo2.jpg" class="img-responsive">
    </div>
    <div class="hdr_2 my_blue my_fbig no-gutter text-center">
      в нашей базе сравнения:
    </div>
      <div class="col-sm-3 super_padding">
        <img src="/media/ayvaz.jpg" class="center-block img-responsive">          
      </div>
      <div class="col-sm-3 super_padding">
        <img src="/media/danfoss.jpg" class="center-block img-responsive">          
      </div>
      <div class="col-sm-3 super_padding">
        <img src="/media/frese.jpg" class="center-block img-responsive">          
      </div>
      <div class="col-sm-3 super_padding">
        <img src="/media/wilo.jpg" class="center-block img-responsive">          
      </div>
    <div class="pan_1 my_bblue my_fbig no-gutter text-center ext_padding my_white">
      контакты
    </div>
    <div class="pan_1 my_bblue">
      <div class="col-md-2"></div>
      <div class="col-md-4 my_white">
        <p>email: info@protoffer.ru<br><br>
        email для марок: addme@protoffer.ru<br><br>
        (c) all rights reserved 2016</p>
      </div>
      <div class="col-md-6 ext_padding">
        <div class="col-md-2"><img src="/media/facebook.png" class="center-block img-responsive"></div>
        <div class="col-md-2"><img src="/media/twitter.png" class="center-block img-responsive"></div>
        <div class="col-md-2"><img src="/media/myspace.png" class="center-block img-responsive"></div>
        <div class="col-md-2"><img src="/media/youtube.png" class="center-block img-responsive"></div>
        <div class="col-md-2"><img src="/media/flickr.png" class="center-block img-responsive"></div>
        <div class="col-md-2"><img src="/media/FriendFeed.png" class="center-block img-responsive"></div>
      </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
<div class="container theme-showcase">
    <div class="row"> {# title row #}
   </div> {# title row #}
</div>
{% endblock footer %}
