{% extends "tbsite/__base.html" %}

{% block title %}
Protoffer: you search we offer
{% endblock title %}


{% block content %}
<div class="container-fluid theme-showcase no_gutter" role="main">
    <div class="main_div">
        <div class="col-md-2 text-left no_gutter"> {# левый шарик #}
          <img src="/media/round1.jpg" class="img-responsive">
        </div>
        <div class="col-md-4 text-right center_menu"> {# лого #}
          <img src="/media/logo2.png" class="img-responsive">
        </div>
        <div class="col-md-4 right_menu"> {# о пользователе #}
          <div class="row">
          <div class="col-md-3"><img src="/media/man_icon.png" class="img-responsive"></div>
          <div class="col-md-9 upper_small my_upper"><br>чтобы загрузить файл <span class="my_blue">войдите</span><br>или <span class="my_blue">зарегистрируйтесь</span></div>
          </div>
          <div class="row">
          <div class="col-md-12"><img src="/media/upload.png" class="img-responsive"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-1"></div>
        <div class="col-md-10 ext_gutter my_upper">
          <p>мы - сервис по подбору оборудования для вашего строительного объекта. вы загружаете ваш лист заказа, мы предлагаем вам аналоги
          уже выбранного вам оборудования в разных ценовых категориях. из предложенных аналогов вы можете выбрать подходящие и выгрузить
          обновленный листа заказа.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8 side_padding my_upper">
          <p class="my_flarge">найдите идеальные варианты для своих строительных проектов. все, что вам нужно сделать, это три простых шага:</p>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8 side_padding">
          <table border=0>
            <tr>
              <td><img src="/media/1_icon.png" class="img-responsive"></td>
              <td class="side_padding my_upper"><p><span class="my_blue my_fsl">закачать список оборудования</span><br>
              <span class="my_fsl">в форматах .xls, .ods, .csv</span></p>
              </td>
            </tr>
            <tr><td colspan=2>&nbsp;</td></tr>
            <tr>
              <td><img src="/media/2_icon.png" class="img-responsive"></td>
              <td class="side_padding my_upper"><p><span class="my_blue my_fsl">получите готовое предложение</span><br>
              <span class="my_fsl">со всеми вариантами аналогов, отредактируйте его</span></p>
              </td>
            </tr>
            <tr><td colspan=2>&nbsp;</td></tr>
            <tr>
              <td><img src="/media/3_icon.png" class="img-responsive"></td>
              <td class="side_padding my_upper"><p><span class="my_blue my_fsl">выгрузите итоговый лист</span><br>
              <span class="my_fsl">инвестируйте разницу во что-нибудь полезное</span></p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="no-gutter">
      <img src="/media/back_photo1.jpg" class="img-responsive">
    </div>
    <div class="pan_1 my_blue my_bgrey my_fbig no_gutter text-center my_upper">
      почему мы?
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 ext_padding my_upper">
      <div class="col-md-4 text-center side_padding">
        <img src="/media/whyus_icon1.png" class="center-block img-responsive"> 
      </div>
      <div class="col-md-4 text-center side_padding">
        <img src="/media/whyus_icon2.png" class="center-block img-responsive">          
      </div>
      <div class="col-md-4 text-center side_padding">
        <img src="/media/whyus_icon3.png" class="center-block img-responsive">          
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 text-center side_padding">
        <div class="hdr_1 my_blue my_fmed">инновации</div>         
        <p>самые новейшие модели в каждом из секторов, потому что мы хотим, чтобы вы получили самый лучший и самый технологичный продукт</p>
      </div>
      <div class="col-md-4 text-center side_padding">
        <div class="hdr_1 my_blue my_fmed">уникальность</div>         
        <p>до запуска нашего продукта мы изучили рынок нашего сектора, чтобы убедиться, что аналогов на данный момент не существует. protoffer - уникальный сервис</p>
      </div>
      <div class="col-md-4 text-center side_padding">
        <div class="hdr_1 my_blue my_fmed">мы ценим время</div>         
        <p>мы работаем с вами в одном секторе и знаем, что время - деньги. наша система замеит бесконечный ручной подбор оборудования. теперь это 5 секунд</p>
      </div>
   </div>
    <div class="no_gutter">
      <img src="/media/back_photo2.jpg" class="img-responsive">
    </div>
    <div class="hdr_2 my_blue my_fbig no_gutter text-center my_upper">
      в нашей базе сравнения:
    </div>
    <div class="container-fluid">
      <div class="col-sm-3 super_padding">
        <img src="/media/ayvaz.jpg" class="center-block img-responsive">          
      </div>
      <div class="col-sm-3 super_padding">
        <img src="/media/danfoss.jpg" class="center-block img-responsive">          
      </div>
      <div class="col-sm-3 super_padding">
        <img src="/media/wilo.jpg" class="center-block img-responsive">          
      </div>
      <div class="col-sm-3 super_padding">
        <img src="/media/frese.jpg" class="center-block img-responsive">          
      </div>
    </div>
</div>
{% endblock content %}
